* {
    padding: 0;
    margin: 0;
}
header {
    background: conic-gradient(#05FFBB, #35F3B7);
    height: 35%;
}
.escudo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: inherit;
    float: left;
}
h1 {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 408px;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(../img/letrash1.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.menu {
    list-style: none;
    padding: 0;
    background: #092327;
    border-radius: 25px;
    border: 2px inset #42FF0090;
    width: 80%;
    max-width: 900px;
    margin: auto;
}
.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    margin-left: 40px;
}
.menu li {
    display: inline-block;
}
.menu li a:hover {
    background: #ef8354;
}