body {
    background: repeating-linear-gradient(#43F73A, #FCFF17 90px);
}
.explicacion {
    margin-top: 15px;
    margin-left: 25%;
}
.problema1 {
    height: 500px;
    margin-top: 25px;
    margin-left: 28%;
}
.txt1 {
    float: left;
    background: #FFFFFF;
    border: 6px outset #0B8316;
    margin-top: 20px;
    margin-left: 210px;
    width: 900px;
}
h2 {
    font-size: 24px;
    color: #FF4800;
    padding-left: 100px;
    font-family: "Arial Narrow", Garamond, 'Comic Sans';
}
p {
    font-size: 20px;
    line-height: 40px;
    padding-left: 100px;
    font-family: "Arial Narrow", Garamond, 'Comic Sans';
}
.operacion {
    margin: 0% auto;
    margin-top: -40px;
    border-radius: 5px;
    background-color: #e9ec3a;
    height: 60px;
    width: 300px;
}
.p {
    padding-top: 10px;
    padding-left: 60px;
    font-size: 40px;
}
.ab {
    color: #1503FF;
}
.x {
    color: #FF0000;
}
.igual {
    color: #15BD03;
}
.r {
    color: #C707C0;
}
.d {
    color: #E700B9;
}
.p2 {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 40px;
}
.p3 {
    padding-top: 10px;
    padding-left: 30px;
    font-size: 40px;
}
.operacion2 {
    margin: 0% auto;
    margin-top: -40px;
    border-radius: 5px;
    background-color: #e9ec3a;
    height: 110px;
    width: 300px;
}
.operacion3 {
    margin: 0% auto;
    margin-top: -40px;
    border-radius: 5px;
    background-color: #e9ec3a;
    height: 60px;
    width: 385px;
}
.b {
    font-family: 'Lato';
    font-size: 30px;
    color: #FF0000;
}
h3 {
    font-size: 22px;
    color: #FF6C00;
    padding-left: 100px;
    font-family: "Arial Narrow", Garamond, 'Comic Sans';
}
.elemento_a {
    margin-top: 10px;
    margin-left: 20px;
    background: #00F0FF;
    font-size: 20px;
    color: #000000;
    box-shadow: 0px 5px 0px #0EB2FF;
    text-decoration: none;
    display: inline-block;
    padding: 3px 15px;
    border: 1px solid #3A00F8;
    border-radius: 10px;
}
.elemento_a:hover {
    box-shadow: 0px 2px 0px #0EB2FF;
    border: 2px solid #0EB2FF;
    background: #78EFEE;
}
.elemento_a:active {
    opacity: 0.6;
}
.texto2 {
    font-size: 20px;
    padding-left: 380px;
    font-family: "Arial Narrow", Garamond, 'Comic Sans';
}
.h1 {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding-top: 25px;
    padding-left: 240px;
    display: block;
    margin: 0 auto;
    /* Clip Background Image */
    background: url(../img/letras22.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
footer p {
    margin-top: 2370px;
    height: 30px;
    background: #3B3B3B;
    border-top: solid 2px #000000;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-family: 'Lato';
    padding: 30px 520px;
}