*, *:after, *:before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: rgb(253, 251, 251);
}

.section2 {
      width: 100%;
      height: 1200px;
      border-top: 4px outset rgb(0, 139, 7);
      position: relative;
      background-image: linear-gradient(to left bottom, #00ff16, #70ff6a, #a3ff9e, #ceffcc, #f7fff7);
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      z-index: -1;
}



.h2 {
    text-align: center;
    font-family: 'Bebas Neue', lato;
    font-size: 32px;
}

.card {
    padding: 30px 15px;
    margin-top: 60px;
    overflow: hidden;
    height: 410px;
    width: 40%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .4); 
    backdrop-filter: blur(5px);
    border-top: 2px solid rgba(255, 254, 254, 0.7);
    border-bottom: 2px solid rgba(255, 254, 254, 0.7);
}

 .texto {
    text-align: justify;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
}

.paisaje{
    width: 40%;
    height: 400px;
    margin-top: -37rem;
    margin-left: 5%;
}
.div2 {
    height: 380px;
    width: 40%;
    margin-top: -20rem;
    margin-left: 50%;
    border-radius: 10px;
    background-color: red;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.div-video{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .4); 
    backdrop-filter: blur(5px);
    border-top: 2px solid rgba(255, 254, 254, 0.7);
    border-bottom: 2px solid rgba(255, 254, 254, 0.7);
    width: 40%;
    height: 410px;
    position: absolute;
    margin-top: -37rem;
    margin-left: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video{
    width: 90%;
    margin-top: 40px;
}

.title {
    margin-top: 20px;
    font-size: 2rem;
    color: #0a0a0a;
    font-family: 'Bebas Neue', lato;
}



footer {
    width: 100%;
    height: 200px;
    background-image: url(../img/svg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -8rem;
    display: flex;
    justify-content: center;
}

.p{
    margin-top: 8rem;
    font-size: 18px;
    color: #0a0a0a;
    position: absolute;
    font-family: 'Bebas Neue', lato;
}

.cuadrado{
    position: absolute;
}

.circulo{
    border-radius: 50%;
    position: absolute;
}

.cubo{
    width: 70px;
    height: 70px;
    background: rgb(13,1,147);
    background: linear-gradient(0deg, rgba(13,1,147,1) 0%, rgba(7,0,213,1) 100%);
    margin-top: 4.8rem;
    margin-right: 80%;
    rotate: 20deg;
}

.cubo2{
    width: 150px;
    height: 150px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 65%, rgba(249,145,0,1) 93%);
    margin-top: 30%;
    margin-left: 12%;
}


.circle{
    width: 70px;
    height: 70px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    margin-top: 5rem;
    margin-left: 80%;
    filter: blur(3px);
  
}

.circle2{
    width: 60px;
    height: 60px;
    background: rgb(221,251,63);
    background: radial-gradient(circle, rgba(221,251,63,1) 0%, rgba(12,230,0,1) 100%);
    margin-top: 28%;
    margin-right: 20%;

}

@media  all and (max-width:1120px) {
    .card{
        height: 480px;
    }
    .cubo2{
        margin-top: 42%;
    }
    .circle2{
        margin-top: 40%;
    }
    
}

@media  all and (max-width:980px) {
    .card{
        height: 520px;
    }
    .cubo2{
        margin-top: 52%;
    }
    .circle2{
        margin-top: 50%;
    }
}


@media  all and (max-width:890px) {
    .section2{
        height: 1300px;
    }
    .card{
        height: 580px;
    }
    .cubo2{
        margin-top: 58%;
    }
    .circle2{
        margin-top: 60%;
    }

}

@media  all and (max-width:830px) {
    .section2{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 2000px;
    }
    .card{
        width: 80%;
        height: 350px;
        margin-top: 80px;
    }
    .div-video{
        width: 80%;
        height: 420px;
        margin-top: -65rem;
        margin-left: 10%;
    }
    .video{
        width: 80%;
        margin-top: 30px;
    }
    .paisaje{
        width: 60%;
        margin-left: 20%;
    }
    .cubo{
        margin-top: 6rem;
        margin-right: 60%;
    }
    .cubo2{
        margin-top: 50%;
        margin-left: 70%;
    }
    .circle{
        margin-top: 5.2rem;
        margin-left: 60%;
    }
    .circle2{
        margin-top: 65%;
        margin-right: 60%;
    }
}