body {
    background: repeating-linear-gradient(#43F73A, #FCFF17 90px);
}
.texto1 {
    margin: 20px 400px;
    width: 900px;
    border: 6px outset #0B8316;
    background: #FFFFFF;
}
p {
    font-size: 20px;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Arial Narrow", Garamond, 'Comic Sans';
}
.primer_p {
    padding-left: 50px;
    padding-right: 40px;
    font-size: 24px;
    color: #4800FF;
}
.sum {
    color: #FF8B03;
}
.s {
    color: #1B03FF;
}
.res {
    color: #FF0000;
}
.mul {
    color: #15BD03;
}
.d {
    color: #E700B9;
}
h2 {
    color: #FF6C00;
    padding-top: 30px;
    padding-left: 310px;
    font-family: "Arial Narrow", Garamond, 'Comic Sans';
}
.mate2 {
    height: 250px;
    width: 310px;
    padding-left: 10px;
}
.mate3 {
    padding-top: 320px;
    padding-left: 10px;
}
.mate4 {
    padding-top: 320px;
    padding-left: 10px;
    height: 300px;
}
.div1 {
    float: left;
    margin-top: 50px;
    width: 330px;
}
.operacion {
    margin: 0px auto;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #e9ec3a;
    height: 230px;
    width: 130px;
}
.operacion2 {
    margin: 0px auto;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #e9ec3a;
    height: 170px;
    width: 130px;
}
pre {
    margin-left: -180px;
    font-size: 30px;
}
.elemento_a {
    margin-top: 10px;
    margin-left: 20px;
    background: #22C116;
    font-size: 20px;
    color: #000000;
    box-shadow: 0px 5px 0px #26AE14;
    text-decoration: none;
    display: inline-block;
    padding: 3px 15px;
    border: 1px solid #058311;
    border-radius: 10px;
}
.elemento_a:hover {
    box-shadow: 0px 2px 0px #26AE14;
    border: 2px solid #26AE14;
    background: #12E707;
}
.elemento_a:active {
    opacity: 0.6;
}
.texto2 {
    font-size: 20px;
    padding-left: 380px;
    font-family: "Arial Narrow", Garamond, 'Comic Sans';
}
.h1 {
    text-align: center;
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(../img/letras22.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
footer p {
    height: 30px;
    background: #3B3B3B;
    border-top: solid 2px #000000;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-family: 'Lato';
    padding: 30px 520px;
}