*, *:after, *:before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


p {
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    margin-left: 35%;
}


.primer_p {
    font-size: 24px;
}

h4{
    font-size: 18px;
    color: rgb(68, 138, 2);
    padding-left: 70px;
    margin-top: 20px;
    font-weight: 600;
}

.sum {
    color: #FF8B03;
}
.s {
    color: #1905d3;
}

pre {
    margin-left: 20%;
    font-size: 30px;
}
